numpy
scipy
scikit-learn
opencv-python==4.2.0.32
opencv-contrib-python==4.2.0.32
tensorflow-gpu
keras_applications
tensorflow-addons
matplotlib
tqdm
pillow
mnn
keras2onnx
tf2onnx
onnx
onnxruntime
pydensecrf
labelme
